@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply bg-[#25D366] hover:bg-[#128C7E] text-white font-bold py-2 px-4 rounded;
}

.btn-secondary {
  @apply bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded;
}

.card-hover {
  transition: transform 0.3s ease;
}

.card-hover:hover {
  transform: scale(1.05);
}

html.dark {
  background-color: #1a202c;
  color: #edf2f7;
}

html.dark .bg-white {
    background-color: #2d3748;
}

html.dark .text-gray-700 {
    color: #edf2f7;
}

html.dark .text-gray-900 {
    color: #fff;
}

html.dark .shadow {
    box-shadow: 0 1px 3px 0 rgba(255, 255, 255, 0.1), 0 1px 2px 0 rgba(255, 255, 255, 0.06);
}
